.NAVIGATION{
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;


}body{
    font-size: 30px;
    color: rgb(250, 13, 13);
    background-color: black;
    /* /* rgin: 0;ma/ */
    /* font-family: arial; */ */
    /* background-image: url(https://images.pexels.com/photos/4626343/pexels-photo-4626343.jpeg?auto=compress&cs=tinysrgb&w=600) */
}


.LOG{
    color: rgb(209, 23, 23)
}
.NAVLINKS{
    color:white
}
.NAVLINKS > a{
    color: white;
    text-decoration: none;
    margin: 16px;
}
.hero img {
width: 50%;
height: 50%;
object-fit: cover;
display: block;
}
.hero-content{
    position: absolute;
    top: 75%;
    bottom: -750px;
    width:  100%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    flex-direction: row;
    text-align: center;
   
}
.hero-content > h1 {
    font-size:70px;
    color: rgb(226, 224, 233);
    width: 70%;
    margin: auto;
    flex-direction: row;
    /* border: solid 5px rgb(17, 0, 255);   */
}
.hero-content p{
font-size: 24px;
margin:20px 0 ;
}
.hero-content > button{
    margin: 8px;
    font-size: 16px;
    border: none;
    color: rgb(215, 215, 233);
    background-color: rgb(8, 8, 8);
    width: 20%;
    padding: 12px 24px;
    position: relative;
    align-items:center;
    cursor: pointer;
    
}
.hero-content > button:hover{
    background-color: rgb(255, 18, 18);
    color: #e0f520;

}
.hero-content > h2{
    margin: auto;
    flex-direction: row;
    width: 100%;
    color: #f5bd07;
    font-size: 50px;
}
colum{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    -ms-flex: 25;
    }
    
    .colum > img{
        margin-top: 100px;
        width: 40%;
        vertical-align: middle;
    }